body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 800px;
  width: auto;
  color: white;
}
div{
  font-family: 'Cutive', serif;
  text-shadow: 2px 2px grey;

}

h2{
  text-align: center;
  font-size: 70px;
}

h1{
  text-align: center;
  font-size: 80px;
}

.newYear{
  color: yellow;
}

.unit{
  opacity: 0;
}

@media screen and(max-width: 900px;){
  body{
    align-items: stretch;
  }
}

